* {
  margin: 0; /*Remove a borda padrão do navegador*/
  padding: 0; /*Remove o preenchimento padrão do navegador*/
  box-sizing: border-box; /*A largura da caixa se ajusta ao tamnho da borda*/
}
:root { /*raiz*/
  --text-color: white;/*criando uma variavel de cor de texto*/
  --bg-url:url(./assets/bg-mobile.jpg);/*background dark*/
  --stroke-color: rgba(255, 255, 255, 0.5);
  --surface-color:rgba(255, 255, 255, 0.05);
  --surface-color-hover:rgba(0, 0, 0, 0.02);
  --highlight-color: rgba(255, 255, 255, 0.2);/*cor de fundo do botão social*/
  --switch-bg-url: url(./assets/moon-stars.svg);/* variavel img do botao*/
}

.light {/*quando o como claro for ativado muta a cor da fonte para preto*/
  --text-color: black;
  --bg-url:url(./assets/bg-mobile-light.jpg);/*background light se modifica de acordo com o tema*/
  --stroke-color: rgba(0, 0, 0, 0.5);
  --surface-color:rgba(0, 0, 0, 0.05);
  --surface-color-hover:rgba(0, 0, 0, 0.02);
  --highlight-color: rgba(0, 0, 0, 0.1);/*cor de fundo do botão*/
  --switch-bg-url: url(./assets/sun.svg);
}

body {
  background: var(--bg-url) no-repeat top center/cover;/*background */
}

body * {
  /*seletor univerdal aplica em todo o texto*/
  font-family: "Inter", sans-serif;
  color: var(--text-color);/*variavel text color que é branca*/
}

#container {
  /*caixa*/
  width: 360px; /*largura*/
  margin: 56px auto 0px;
  padding: 0px 24px;/*preenchimento para ficra de acordo com o figma*/
}
/*profile*/
#profile {
  text-align: center; /*elemento inline aceita que o seu pai defina se ele fique centralizado alinhado a direita etc*/
  padding: 24px;
}

#profile img {
  /*procura a img que esta dentro do profile*/
  width: 112px;
}
#profile p {
  font-weight: 500; /*espessura da linha (negrito)*/
  line-height: 24px; /*altura da linha*/
  margin-top: 8; /*margem superior*/
}
/*switch*/
#switch {
  position: relative;/*relativisa a posição do botão*/
  width: 64px;
  margin: 4px auto;
}
#switch button {
  width: 32px;
  height: 32px;
  background: white var(--switch-bg-url) no-repeat center;
  border: 0;
  border-radius: 50%;

  position: absolute;/*faz a sobreposição*/
  top: 50%; /*alinha 50% do topo*/
  left: 0;
  z-index: 1;/*muda o andar para o 1*/
  transform: translateY(-50%);/*altera a posição da img no eixo y para metade na caixa pra fora*/
}

.light #switch button {
  right: 0;
  left: initial; /*depois volta a sua posição inicial*/
}
#switch span {
  display: block;
  width: 64px;
  height: 24px;
  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 9999px;
}

/* links */
ul {
  list-style: none; /*remove os pontos do texto*/

  display: flex;
  flex-direction: column;
  gap: 16px;

   padding: 24px 0px;
}

ul li a {
  display: flex;
  align-items: center; /*alinha os items ao centro da linha do flex*/
  justify-content: center; /*justifica os elementos para o centro*/

  padding: 16px 24px;

  background: var(--surface-color); /*adiciona um fundo nos botoes*/
  border: 1px solid var(--stroke-color); /*adiciona uma borda nos botoes*/
  border-radius: 8px; /*canto arredondado no botão*/

  backdrop-filter: blur(4px); /*deixa um efeito embassado no botão*/
  -webkit-backdrop-filter: blur(4px);

  text-decoration: none; /*remove o sublinhado do texto*/
  font-weight: 500; /*tamanho da fonte*/
  transition: background 0.2s; /* transiciona o background quando atualiza a pag*/
}

/*pseudo-selectr= aplica efeitos quando passa o mouse por cima do botão*/
ul li a:hover {
  background: var(--surface-color-hover);/*cor de fundo do botao*/
  border: 1.5px solid var(--text-color);
}
/*social links*/
#social-links {
  display: flex; /*pra poder habilitar o gap*/
  justify-content: center;

  padding: 24px 0px; /*espaço (superior inferior)  e laterais*/

  font-size: 24px;
}

#social-links a { /* deixa a bolinha do icone social centralizada*/
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;

  transition: background 0.2s;
  border-radius: 50%;/*circulo perfeito*/
}
#social-links a:hover { /*animação */
  background: var(--highlight-color);
}
footer {
  padding: 24px;
  text-align: center;
  font-size: 14px;
}
